export TRIGGER_TOKEN={{ lookup('ansible.builtin.env', 'TRIGGER_TOKEN') }}
export TRIGGER_REF={{ lookup('ansible.builtin.env', 'CI_DEFAULT_BRANCH') }}
export PRIVATE_TOKEN={{ lookup('ansible.builtin.env', 'PRIVATE_TOKEN') }}
export SCALE_DOWN_JOB=tear-down
export SCALE_UP_JOB=create-instances
export CLEAN_UP_JOB=clean-up
export PROJECT_ID={{ lookup('ansible.builtin.env', 'CI_PROJECT_ID') }}
